# autotools
*.m4
*.log
m4/
Doxyfile
Makefile
autom4te.cache/
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
doc/
libkerat.la
libkerat.pc
libtool
ltmain.sh
missing

src/*.o
src/*.lo

tools/*.o
tools/*.lo
tools/*.in

tests/*.o
tests/*.lo
tests/*.in

stamp-h1
tests/Makefile
tools/Makefile
tools/stdout
